## Variables

In [ ]:
# Variables

In built data types in python
# integer 
# float 
# string 
# List
# sets
# dictionary
# tupple

In [1]:

rent = 8000
gas = 1000
food = 5000
transport = 3000

In [93]:
type(rent)

int

In [2]:
print(rent)
total_expenditure = (rent + gas + food + transport )
print('The total monthly expenditure is : ',total_expenditure)

8000
The total monthly expenditure is :  17000

In [3]:
"https://peps.python.org/pep-0008/"

'https://peps.python.org/pep-0008/'

In [4]:
5+3

8

In [5]:
9-2

7

In [6]:
3*5

15

In [96]:
divison = 7/3

In [97]:
type(divison)

float

In [11]:
'Reminder theorm (Modulus Division)'
11%2

1

In [12]:
3**2

9

In [13]:
2**4

16

In [14]:
## Speed calculator
# Bangalore to Chennai(350KM) in 6 hours 30 minute. calculate the speed per hour

In [21]:
Total_Distance = 350
Total_time_taken = 6.5
Speed = Total_Distance / Total_time_taken
print(Speed)

53.84615384615385

In [22]:
round(Speed,2)

53.85

In [23]:
# BODMAS rule
10 + 5*6 -(3*3)

31

In [24]:
6-5.7

0.2999999999999998

## Strings

In [25]:
t1 = 'ice cream'

In [27]:
t1[4]

'c'

In [28]:
# Strings are immutable

t1[0] = 'a'

TypeError: 'str' object does not support item assignment

In [29]:
t1[0:3]
#first one is included and the seond index is not included

'ice'

In [30]:
t1[4:9]

'cream'

In [31]:
t1[4:]

'cream'

In [32]:
t1[:3]

'ice'

In [33]:
# Single or double quete is fine

In [37]:
address = ''' DSC\n
Kumaraswamy layout'''
address

' DSC\n\nKumaraswamy layout'

In [39]:
s1='hello'
s2=' world'
s1+s2

'hello world'

In [40]:
s1*2

'hellohello'

In [41]:
s3 ='Total number of states in India:'
s4 =28
s3 +s4

TypeError: can only concatenate str (not "int") to str

In [42]:
s3+str(s4)

'Total number of states in India:28'

In [43]:
## List

In [44]:
it1='bread'
it2='milk'
it3='vegetables'
it4='fruits'
it5='rice'

## List

In [45]:
items = ['bread', 'milk','vegetables','fruits','rice']
items

['bread', 'milk', 'vegetables', 'fruits', 'rice']

In [46]:
items[0]

'bread'

In [47]:
items[0] = 'biscuits'
items

['biscuits', 'milk', 'vegetables', 'fruits', 'rice']

In [49]:
items[1:3]

['milk', 'vegetables']

In [50]:
items[-1]

'rice'

In [51]:
items.append('butter')
items

['biscuits', 'milk', 'vegetables', 'fruits', 'rice', 'butter']

In [53]:
items.insert(2,'butter')
items

['biscuits', 'milk', 'butter', 'vegetables', 'fruits', 'rice', 'butter']

In [54]:
items2=['pen','paper','pencil']

In [57]:
all_items=items+items2

In [56]:
# list concatenation
items+'pen'
## Both the operands has to be list

TypeError: can only concatenate list (not "str") to list

In [58]:
len(all_items)

10

In [59]:
'bread' in all_items

False

In [60]:
'milk' in all_items

True

## Dictionary

In [105]:
## Dictionaries, # maps

d = {'Basudev' : 9611056001, 'tom': 1234567891,'harry':1245897254}
d['sam'] = 1239876541
d

{'Basudev': 9611056001,
 'tom': 1234567891,
 'harry': 1245897254,
 'sam': 1239876541}

In [99]:
for key in d:
    print(key)

Basudev
tom
harry
sam

In [100]:
for k,v in d.items():
    print('key:',k,"Value",v)

key: Basudev Value 9611056001
key: tom Value 1234567891
key: harry Value 1245897254
key: sam Value 1239876541

In [101]:
'tom' in d

True

In [102]:
'sachin' in d

False

In [106]:
del d['sam']
d

{'Basudev': 9611056001, 'tom': 1234567891, 'harry': 1245897254}

In [103]:
d.clear()  ## All the key and values of dictionary is cleared

## Tuples

In [108]:
#Tupples are list of values grouped togather

In [111]:
point = (5,7)

In [112]:
type(point)

tuple

In [113]:
point[0]

5

In [114]:
## Tuples are like lists but not mutable, so the operation is fast with tuples than lists.
## all the values in tuple do not have same meaning like list

## Sets

In [115]:
s = set()
type(s)

set

In [117]:
s

set()

In [116]:
set_frm_list = set([1,2,3])
print(type(set_frm_list))

<class 'set'>

In [118]:
s.add(1)
print(s)

{1}

In [119]:
s.add(1)
print(s)

{1}

In [120]:
s.add(2)
print(s)

{1, 2}

In [122]:
s1 = s.union({2,3,4})
s1

{1, 2, 3, 4}

In [123]:
s2=s.intersection(s1)
s2

{1, 2}

## Conditional statements- if , else

In [62]:
exp = [12000,11000,10000,10500,11200,12500,11800,10900,15000,12750,11950,11850]
len(exp)

12

In [64]:
total = exp[0] +exp[1]+exp[2]
total

33000

In [61]:
## Even odd problem

num = input('input a number')
num = int(num)

if num%2 == 0:
    print('number is even')
else:
    print('num')

input a number6
number is even

## Nested If

if (condition1):
   Executes when condition1 is true
   if (condition2): 
      # Executes when condition2 is true
   if Block is end here
if Block is end here

In [3]:
num = 0
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Zero

## for loop

In [65]:
total = 0
for items in exp:
    total = total+items
print(total)

141450

In [72]:
for i in range(len(exp)):
    print('Month: ',(i+1),'Expences', exp[i])

Month:  1 Expences 12000
Month:  2 Expences 11000
Month:  3 Expences 10000
Month:  4 Expences 10500
Month:  5 Expences 11200
Month:  6 Expences 12500
Month:  7 Expences 11800
Month:  8 Expences 10900
Month:  9 Expences 15000
Month:  10 Expences 12750
Month:  11 Expences 11950
Month:  12 Expences 11850

In [69]:
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [75]:
## Find bike key program

key_loc = 'cupboard'

search_loc = 'garage','living room,','study table', 'cupboard','kitchen'

for i in search_loc:
    if i == key_loc:
        print('Key is found')
        break
    else:
        print ('key is not here')

key is not here
key is not here
key is not here
Key is found

In [79]:
for i in range(1,6):
    if i%2 == 0:
        continue
    print(i*i)

1
9
25

## Nested for loops

In [4]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## While loops

In [81]:
i =1
while i<=5:
    print(i)
    i = i+1

1
2
3
4
5

## Functions are a block of code ment for a specific task
takes some output and provides some output <br>
they make the code modular

In [1]:
## You have two lists and you want to find the sum of each list
siva_exp_lt = [20000, 22000, 24000]
vishnu_exp_lt = [23000,22500,21000,26000]

In [2]:
siva_total = 0
for item in siva_exp_lt:
    siva_total = siva_total + item
print(siva_total)

66000

In [4]:
vishnu_total = 0
 
for item in vishnu_exp_lt:
    vishnu_total = vishnu_total + item
print(vishnu_total)

92500

In [5]:
both_fnd_ttl_exp = siva_total + vishnu_total
print(both_fnd_ttl_exp)

158500

In [6]:
def cal_ttl(exp1,exp2):
    lt_of_lt = exp1 + exp2
    total = 0
    for item in lt_of_lt:
        total = total + item
    return total
cal_ttl(siva_exp_lt,vishnu_exp_lt)

158500